/*-- scss:defaults --*/
// Import EB Garamond Google font
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

//Colors
$navbar-bg: #4a6830;
$navbar-fg: #f0f5ee;
$link-color: #1a3a2a;
$body-color: #1a3a2a;


